@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactCollapse--collapse {
  transition: height 400ms;
}

.big-card {
  @apply flex flex-col lg:flex-row bg-[#fff] px-[5rem] py-[2rem] md:py-[4rem] rounded-3xl justify-center items-center shadow-xl gap-10;
}

.btn {
  @apply inline-flex justify-center items-center py-3 px-8 rounded-lg cursor-pointer transition ease-out duration-200 font-medium text-base shadow-md;
}

.btn-sm {
  @apply inline-flex justify-center items-center py-1 px-3 rounded-[4px] cursor-pointer transition ease-out duration-200 font-medium text-sm shadow-sm;
}

.btn-md {
  @apply inline-flex justify-center items-center py-2 px-5 rounded-md cursor-pointer transition ease-out duration-200 font-medium text-base shadow-md;
}

.btn-orange {
  @apply btn bg-darkOrange text-white hover:bg-[#F65A00];
}

.btn-purple {
  @apply btn bg-purple text-white hover:bg-darkPurple;
}

.btn-sm-purple {
  @apply btn-sm bg-purple text-white hover:bg-darkPurple;
}

.btn-md-orange {
  @apply btn-md bg-darkOrange text-white hover:bg-[#F65A00];
}

.info {
  @apply flex gap-[10px] justify-center items-center bg-white w-full my-auto text-center p-[1rem] border-b border-[#ededed];
}

.input {
  @apply py-2 px-3 rounded mt-1 bg-none outline-orange;
}

.web-nav {
  @apply py-1 sticky z-40 top-0 text-center bg-white;
}

.web-header {
  @apply sticky z-40 top-0 text-center bg-white transition-transform ease-in-out duration-300 md:duration-700 border-b border-[#ededed];
}

.web-header.info--hidden {
  @apply translate-y-[-63%]  md:translate-y-[-52%]  border-[#ddd];
}

/* swiper */

.swiper-pagination.swiper-pagination-clickable
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  margin: 10px 10px;
  padding: 10px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 6px;
  border-radius: 3px;
  margin: 2px 6px;
  background-color: #43464b;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #8a40f5;
}

.swiper-button-next {
  top: 0;
  position: relative;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  top: 0;
  font-size: 2px;
}
